body , html {margin: 0; padding: 0;}
       
video {
top: 50%;
left: 50%;
position: fixed;
min-height: 100%;
min-width: 100%; 
width: auto;
height: auto;
z-index: -100;
filter: blur(10px);
transform: translateX(-50%) translateY(-50%);
background: url(https://s3.eu-central-1.amazonaws.com/jaar.io/Assets/png/JA.png) no-repeat;
background-size: auto;
}
            
svg{
opacity: 0.7;
position: fixed;
display: inline-block;
min-height: 100%; 
min-width: 100%; 
z-index: 1; 
}

#header img{
position: relative;
display: block;
z-index: 2;
margin: auto;
padding-top: 200px;
}

main{
}

#footer{

}

#footer img{
height: 150px;
display: block;
margin-left: auto;
margin-right: auto;
position: relative;
z-index: 2;

}