//Position values -> https://developer.mozilla.org/en-US/docs/Web/CSS/position#Values
//Centering in css -> https://css-tricks.com/centering-css-complete-guide/
html{
  max-width: 100%;
  max-height: 100%;
  min-width: auto;
  min-height: auto;
  margin: 0;
  padding: 0;
}

body{
  background-image: url(../Assets/background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

<<<<<<< HEAD
header{
  background-color: black;
  position: relative;
  //The element is positioned according to the normal flow of the document, and then offset relative to itself based on the values of top, right, bottom, and left.
  width: 100%;
  height: 200px;
}

main{
  background-color: white;
  position: relative;
  width: 100%;
  height: 600px;
}

menu{
  background-color: lightblue;
  position: relative;
  left: 40%;
  width: 400px;
  height: 600px;
}

footer{
  background-color: green;
  width: 100%;
  height: 150px;
}

#header{
  background-image: url(../Assets/logo.svg);
  background-repeat: no-repeat;
  background-position: center;
=======
#header{
  background-image: url(../Assets/logo.svg);
  background-repeat: no-repeat;
>>>>>>> 3e0993488c1f2dc5b49170ddfe86b2ce2abadd1c
  height: 300px;
  width: 300px;
  left: 50%;
  margin: auto;
  margin-top: 40px;
}

<<<<<<< HEAD
#project{
background-color: black;
width: 300px;
left: 50%;
margin: auto;
=======
#menu{
width: 200px;
margin: auto;
}

#menu ul{
list-style-type: none;
margin: 0;
padding: 0;
>>>>>>> 3e0993488c1f2dc5b49170ddfe86b2ce2abadd1c
}

#menu ul li img{
  width: 200px;
  height: 54px;
}


#magic{
  background-image: url(../Assets/MagicText.png);
  background-size: contain;
  background-repeat: no-repeat;

  display: block;
  height: 280px;
  width: 1100px;
  margin: auto;
  bottom: 0%;
  left: 50%;
}
